<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard Pollution</title>
    <meta name="description" content=""/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link th:href="@{/css/style.css}" content="text/css" rel="stylesheet"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!--        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
          integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.18.3/dist/bootstrap-table.min.css">
</head>
<body>
<div id="confermaRimozione" class="modal" style="display: none; width: 30% !important; left: 35%; top: 30%;"
     tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="color:white !important; background-color:#c70039 !important">
                <h4 class="modal-title" id="myModalLabel">Conferma Rimozione</h4>
            </div>
            <div class="modal-body">
                <span id="confermaRimozioneId" style="display: none;"></span>
                <span class="list-label"></span><span id="confermaRimozioneMessaggio"></span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="confermaRimozione"
                        onclick="closeModalRimozione()">Chiudi
                </button>
                <button type="button" class="btn btn-danger btn-ok" onclick="removeUser();">Conferma</button>
            </div>
        </div>
    </div>
</div>

<div id="dialog" style="display: none; width: 30% !important; left: 35%; top: 30%;" class="modal" tabindex="-1">
    <div class="modal-content">
        <div class="modal-header" style="color:white !important; background-color:#c70039 !important">
            <span id="modalTitle"></span>
            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" onclick="closeModalDialog()"
                    aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <span class="list-label"></span><span id="dialogBox"></span>
        </div>
    </div>
</div>

<div>
    <div id="toolbar" style="display: inline-flex">
    <p><em>More info about <a href="https://en.wikipedia.org/wiki/Air_quality_index#CAQI" target="_blank">AQI</a></em></p>
    </div>
<table
        id="table"
        data-toolbar="#toolbar"
        data-toggle="table"
        class="table table-striped table-sm table-hover table-fixed table-responsive"
        data-page-size="25"
        data-locale="en-EN"
        data-show-refresh="true"
        data-show-export="true"
        data-show-pagination-switch="true"
        data-search="true"
        data-page-list="[10, 50, 100]"
        data-pagination="true"
        data-visible-search="true"
        data-mobile-responsive="true"
        data-check-on-init="true"
        data-show-search-button="true"
        data-show-search-clear-button="true"
        data-total-field="count"
        data-data-field="items"
        data-auto-refresh="true"
        data-auto-refresh-interval="3600"
        data-url="/pollutionData">

    <thead class="table-dark">
    <tr>
        <th data-field="city" data-width="100" data-align="center" data-sortable="true">City</th>
        <th data-field="date" data-sortable="true" data-align="center">Survey Date</th>
        <th data-field="aqi" data-width="80" data-sortable="true" data-cell-style="aqiCellStyle" data-align="center">Air Quality Index</th>
        <th data-field="co" data-sortable="true" data-align="center">Carbon monoxide μg/m3</th>
        <th data-field="no" data-sortable="true" data-align="center">Nitrogen monoxide μg/m3</th>
        <th data-field="no2" data-sortable="true" data-align="center">Nitrogen dioxide μg/m3</th>
        <th data-field="o3" data-sortable="true" data-align="center">Ozone μg/m3</th>
        <th data-field="so2" data-sortable="true" data-align="center">Sulphur dioxide μg/m3</th>
        <th data-field="pm2_5" data-sortable="true" data-align="center">PM2_5 μg/m3</th>
        <th data-field="pm10" data-sortable="true" data-align="center">PM 10 μg/m3</th>
        <th data-field="nh3" data-sortable="true" data-align="center">Ammonia μg/m3</th>
        <th data-field="Remove" data-formatter="removeFormatter" data-align="center" data-force-export="false" data-events="operateEvents">Remove</th>
    </tr>
    </thead>

</table>
</div>
<script src="https://cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
        integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
        integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
        crossorigin="anonymous"></script>

<!--<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>-->
<script src="https://cdn.jsdelivr.net/npm/jqueryui@1.11.1/jquery-ui.min.js"></script>
<script src="https://unpkg.com/bootstrap-table@1.18.3/dist/bootstrap-table.min.js"></script>
<script src="https://unpkg.com/bootstrap-table@1.18.3/dist/bootstrap-table-locale-all.min.js"></script>
<script src="https://unpkg.com/bootstrap-table@1.18.3/dist/extensions/filter-control/bootstrap-table-filter-control.min.js"></script>
<script src="https://unpkg.com/bootstrap-table@1.18.3/dist/extensions/i18n-enhance/bootstrap-table-i18n-enhance.min.js"></script>
<script src="https://unpkg.com/tableexport.jquery.plugin/tableExport.min.js"></script>
<script src="https://unpkg.com/bootstrap-table@1.18.3/dist/extensions/export/bootstrap-table-export.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/tableexport.jquery.plugin@1.10.21/tableExport.min.js"></script>
<!--    <script src="https://cdn.jsdelivr.net/npm/tableexport.jquery.plugin@1.10.21/libs/jsPDF/jspdf.min.js"></script>-->
<!--    <script src="https://cdn.jsdelivr.net/npm/tableexport.jquery.plugin@1.10.21/libs/jsPDF-AutoTable/jspdf.plugin.autotable.js"></script>-->
<script>

function removeFormatter(value, $element, row) {
    return '<button type="button" style="float: center" class="btn btn-outline-primary trashUser" data-bs-toggle="tooltip" data-bs-placement="left" title="Remove from your list of interest"><i class="fas fa-trash" aria-hidden="true"></i></button>';
}
window.operateEvents = {
    'click .trashUser': function (e, value, row, index) {
        showConfirmationDeleteModal("Conferma rimozione " + row.city, row.city);
    }
  }

function initTable() {
      $('#table').bootstrapTable('destroy').bootstrapTable({
        exportDataType: $(this).val(),
        exportTypes: ['json', 'csv', 'txt', 'excel'],
        exportOptions: {
        fileName: 'Pollution_Data' + new Date(Date.now()).toLocaleDateString()
      }
    }).trigger('change')
  }

function aqiCellStyle(value, row, index) {
    var classes = [
      'lightgreen',
      'lightblue',
      'lightyellow',
      'lightorange',
      'indianred'
    ]
    return {
      css: {
        background: classes[value-1]
      }
    }
  }

function removeUser() {
    $.ajax({
            type:"DELETE",
            crossDomain: true,
            url:'/cities/'+ $("#confermaRimozioneId").val(),
            success: function(data){
                   showModalDialog('Correctly removed');
                   $('#table').bootstrapTable('refresh',{url:'./dashboard'})
            },
            error: function(textStatus, errorThrown){
                   showModalDialog('Rimozione Chiave in Errore', textStatus);
            }
    })
}

function closeModalRimozione(){
    document.getElementById('confermaRimozione').style.display = "none";
}

function closeModalDialog(){
    document.getElementById('dialog').style.display = "none";
    document.getElementById('dialogBox').html("");
}

function showModalDialog(title, message) {
    $('#modalTitle').html(title);
    $("#dialog").show();
    $('#dialogBox').html(message);
}

function showConfirmationDeleteModal(message, cityName){
    $('#confermaRimozioneMessaggio').html(message);
    $("#confermaRimozione").show();
    $('#confermaRimozioneId').val(cityName);
}

</script>
</body>
</html>
